<mat-card class="form">
    <div class="form-top">
        <div class="actions-left">
            <a mat-icon-button routerLink="/setor">
                <mat-icon>keyboard_backspace</mat-icon>            
            </a> 
            <h2>Setor</h2>
        </div>        
        <div class="actions-right">
            <button mat-raised-button form="setorForm" class="btn-success">Salvar</button>
        </div>     
    </div>      
    <form id="setorForm" [formGroup]="setorForm" (ngSubmit)="save()">
        <p>
            <mat-form-field style="width: 50%;">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome"> 
                <mat-error>
                    <app-validator-form [field]="setorForm.controls.nome"></app-validator-form>
                </mat-error>                
            </mat-form-field>         
        </p>  
    </form>
</mat-card>