.vscode
/SistemaPonto.Api/bin
/SistemaPonto.Api/obj
/SistemaPonto.Domain/bin
/SistemaPonto.Domain/obj
/SistemaPonto.Infra/bin
/SistemaPonto.Infra/obj
/SistemaPonto.Infra/Migrations
/SistemaPonto.Cognitive/bin
/SistemaPonto.Cognitive/obj