.menu {
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
}

.menu-largura {
   padding: 20px;
}

.conteudo {
    padding: 10px;
}

.mat-button.remove-hover ::ng-deep .mat-button-focus-overlay,
.mat-icon-button.remove-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

.buttons-toolbar{
  flex: 1 1 auto;
}