<mat-card class="form">
    <div class="form-title">
        <a mat-icon-button routerLink="/administrativo">
            <mat-icon>keyboard_backspace</mat-icon>            
        </a> 
        <h2>Administrativo</h2>
    </div>         
    <form [formGroup]="administrativoForm" (ngSubmit)="save()">
        <p>
            <mat-form-field style="width: 50%;">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
                <mat-error>
                    <app-validator-form [field]="administrativoForm.controls.nome"></app-validator-form>
                </mat-error>
            </mat-form-field>
        </p>
        <p class="row">
            <mat-form-field style="width: 50%;">
                <mat-label>Login</mat-label>
                <input matInput formControlName="login">
                <mat-error>
                    <app-validator-form [field]="administrativoForm.controls.login"></app-validator-form>
                </mat-error>
            </mat-form-field>

            <mat-form-field style="width: 20%;">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="senha" (change)="apllyValidation()">
                <mat-error>
                    <app-validator-form [field]="administrativoForm.controls.senha"></app-validator-form>
                </mat-error>
            </mat-form-field>

            <mat-form-field style="width: 20%;">
                <mat-label>Confirmar Senha</mat-label>
                <input matInput formControlName="confirmarSenha">
                <mat-error>
                    <app-validator-form [field]="administrativoForm.controls.confirmarSenha"></app-validator-form>
                </mat-error>            
            </mat-form-field>
        </p>
        <p>
            <button mat-raised-button>Salvar</button>
        </p>    
    </form>
</mat-card>