.row > .mat-form-field:not(:first-child) { 
    margin-left: 30px;
}

.buttons-actions {
    float: right;    
}

.buttons-actions > button{
    margin-left: 10px;
}

.mat-checkbox {
  margin-left: 5px;
}

.btn-success{
    background-color: #2e8b57;
    color: #ffffff;
}

.btn-danger{
    background-color: #a52a2a;
    color: #ffffff;
}