.form {
  height: calc(82.5vh);
}

.form-top {
  display: flow-root;
}

.actions-left {
  display: flex;
  float: left;
}

.actions-right{
  float: right;
}

.actions-left > h2 {
  margin-top: 2px;
}

.row > .mat-form-field:not(:first-child) { 
  margin-left: 30px;
}

.table{
  overflow: scroll;
  height: 200px;
}

.first-row{
  float: left;
  margin-right: 35px;
  position: relative;
}

.first-row:hover .remover-imagem{
  opacity: 1;
  margin: 5px;
}

img {
  height: 130px;
  width: 130px;
}

.btn-success{
  background-color: #2e8b57;
  color: #ffffff;
}

.btn-danger{
  background-color: #a52a2a;
  color: #ffffff;
}

.remover-imagem {
  position: absolute;
  opacity: 0;
}