.form {
  height: calc(82.5vh);
}

.form-top {
  display: flow-root;
}

.actions-left {
  display: flex;
  float: left;
}

.actions-right{
  float: right;
}

.actions-left > h2 {
  margin-top: 2px;
}

.row > .mat-form-field:not(:first-child) { 
  margin-left: 30px;
}

.table{
  overflow: scroll;
  height: 200px;
}