<h2 mat-dialog-title *ngIf="!capturedImage">Capture a foto</h2>
<h2 mat-dialog-title *ngIf="capturedImage">Foto capturada</h2>
<mat-dialog-content>
        <p *ngIf="!capturedImage">
            <webcam [height]="270" [width]="305"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"
            *ngIf="showWebcam"  
            [allowCameraSwitch]="allowCameraSwitch"
            [videoOptions]="videoOptions"
            (initError)="handleInitError($event)"
            ></webcam>
        </p>        
        <p *ngIf="capturedImage">
            <img [src]="capturedImage" class="captured-image" />
        </p>
        <p class="buttons-actions">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button (click)="tirarFoto()" *ngIf="!capturedImage">Capturar</button>
            <button mat-raised-button (click)="apagarImagemCapturada()" *ngIf="capturedImage">Capturar Novamente</button>
            <button mat-raised-button (click)="salvar()" *ngIf="capturedImage">Salvar</button>
        </p>       
</mat-dialog-content>