<div class="container">
    <mat-card class="imagem" *ngIf="!capturedImage">
        <p>
            <webcam [height]="270" width="305"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"   
            (initError)="handleInitError($event)">
            </webcam>
        </p>
        <p>
            <button mat-raised-button (click)="tirarFoto()" class="btn-primary">Capturar</button>
        </p>
    </mat-card>
    <mat-card *ngIf="capturedImage">
        <p class="imagem">
            <img [src]="capturedImage" [height]="270" width="305" />
        </p>
    </mat-card>  
</div>